.footer {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease-in-out;
}